<!DOCTYPE html>
<html lang="en">
  <head>
    <title>NodeBox Research</title>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <link rel="stylesheet" href="/static/css/default.css" />
  </head>
  <body id="body">
    <div id="all">
      <div id="header_and_navigation">
        <div id="header">
          <a href="/"
            ><img
              id="header_image"
              src="/static/g/header-small.jpg"
              alt="Header image"
          /></a>
        </div>

        <div id="title">
          <a href="/">
            <h1>NodeBox research</h1>
            <b
              ><em
                >Research topics concerning NodeBox and the Experimental Media
                Group</em
              ></b
            >
          </a>
        </div>

        <div id="contextual"></div>

        <div id="navigation"></div>
      </div>

      <div id="content">
        <div class="inside">
          {{ content }}
        </div>
      </div>

      <div id="footer"></div>
      <img src="/static/g/footer.jpg" style="border:0" alt="Footer image" />
    </div>
  </body>
</html>
